<h3>页面列表</h1>
<div class="table-responsive">
  <table class="table table-striped" id='pages'>
    <thead>
      <tr>
        <th class="hidden-xs">创建日期</th>
        <th>标题</th>
        <th class="hidden-xs hidden-sm">摘录</th>
        <th class="hidden-xs">链接地址</th>
        <th>动作</th>
      </tr>
    </thead>
    
    <tbody>
      <% if @pages.empty? -%>
        <tr><td colspan="5">当前没有任何页面.</td></tr>
      <% else -%>
        <%= render :partial => 'page', :collection => @pages %>
      <% end -%>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @pages, :renderer => MyBootstrapPagination::Rails %>
  </div>
</div>
