<h3>评论列表</h3>
<div class="table-responsive">
<table class="table table-condensed table-striped" id='comments'>
  <thead>
    <tr>
      <th>评论日期</th>
      <th>作者</th>
      <th>摘录</th>
      <th>文章</th>
      <th>动作</th>
    </tr>
  </thead>

  <tbody>
    <% if @comments.empty? -%>
      <tr><td colspan="5">当前没有评论.</td></tr>
    <% else -%>
      <%= render :partial => 'comment', :collection => @comments %>
    <% end -%>
  </tbody>
</table>
<div class="text-center">
    <%= will_paginate @comments, :renderer => MyBootstrapPagination::Rails %>
  </div>
</div>
